@use '../helpers' as *;

.button {
  @include fluid-text(18, 16);
  
  display: inline-flex;
  justify-content: center;
  max-width: rem(200);
  padding: rem(16) rem(24);
  white-space: nowrap;

  color: var(--color-light);
  background-color: var(--color-dark-alt);

  border: var(--border);
  border-radius: var(--border-radius);

  @include hover {
    color: var(--color-main);
    background-color: var(--color-accent);
    border-color: var(--color-main);
  }
}