@use '../helpers' as *;

.buy-token {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__options {
    display: flex;
    gap: fluid(160, 16);
    justify-content: center;
    flex-wrap: wrap;

    @include mobile {
      flex-direction: column;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    row-gap: fluid(16, 8);
    align-items: center;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    width: fluid(200, 150);
    height: auto;
  }
}
