@use '../helpers' as *;

.exchanges {

  &__list {
    max-width: 55%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(40);

    background-color: var(--color-dark-alt);
    border-radius: var(--border-radius);
    padding: fluid(24, 12);

    @include mobile {
      max-width: 100%;
    }
  }

  &__item {
    display: grid;
    text-align: center;
    row-gap: rem(2);
    font-size: rem(14);

    &--light {
      background-color: var(--color-light);
      padding: rem(6);
      border-radius: var(--border-radius);
    }
  }

  &__image {
    margin-inline: auto;

    &.is-rounded {
      border-radius: 50%;
    }
  }
}