@use '../helpers' as *;

.footer {
  display: grid;
  row-gap: fluid(24, 12);
  margin-bottom: fluid(12, 8);
  
  &__creators {
    @include fluid-text(20, 14);
    text-align: center;
    color: var(--color-dark-alt);
  }
}