@use '../helpers' as *;

@keyframes moveBackground {
  0% { background-position: 0 0; }
  100% { background-position: 100% 100%; }
}

.hero {
  position: relative;
  background: none; 
  padding: fluid(112, 24);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../../images/logo.png");
    background-color: var(--color-main);
    background-size: rem(225) rem(225);
    animation: moveBackground 240s linear infinite;
    filter: blur(rem(1)); 
    z-index: -1;
  }


  &__body {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    gap: fluid(128, 16);

    @include mobile {
      grid-template-columns: 1fr;
      justify-content: center;
      text-align: center;
    }
  }

  &__value {
    @include fluid-text (58, 24);
    
    font-family: var(--font-family-accent);

    background-color: var(--color-dark-alt);
    color: var(--color-light);
    border-radius: var(--border-radius);
    border: var(--border);
    padding: fluid(16, 8);
  }

  &__button {
    @include mobile {
      margin: 0 auto; 
    }
  }

}