@use '../helpers' as *;

.section {
  display: grid;
  row-gap: fluid(64, 16);
  
  &:not(.hero):not(.info-card) {
    margin-block: fluid(80, 24);
  }

  &:nth-child(2) {
    margin-top: fluid(56, 16);
  }

  &:last-child {
    margin-bottom: fluid(56, 16);
  }

  &__header {
    display: grid;
    row-gap: fluid(12, 8);
    padding: fluid(20, 12) fluid(30, 12);
    background-color: var(--color-dark-alt);
    border-radius: var(--border-radius);
    border: var(--border);

    &#mx {
      background: url('../images/mx-bg.jpg') center/cover no-repeat;
    }
  }

  &__title {
    text-align: center;
  }

  &__description {
    @include fluid-text(22, 14);

    @include mobile {
      text-align: center;
    }
  }
}